<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="71e976">  <td>19/11/05 17:32:17</td>   <td>0</td> <td title="&gt;&gt;TestBase.startApp()[pri:0, instance:com.wipro.testcases.TC02@424e1977]">&gt;&gt;startApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@773662650</td>   <td></td> </tr>
<tr bgcolor="b5a082">  <td>19/11/05 17:32:17</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC02.start()[pri:0, instance:com.wipro.testcases.TC02@424e1977]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@773662650</td>   <td></td> </tr>
<tr bgcolor="b5a082">  <td>19/11/05 17:32:26</td>   <td>9173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.test1()[pri:0, instance:com.wipro.testcases.TC02@424e1977]">test1</td> 
  <td>main@773662650</td>   <td></td> </tr>
<tr bgcolor="b5a082">  <td>19/11/05 17:32:29</td>   <td>12731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.test2()[pri:0, instance:com.wipro.testcases.TC02@424e1977]">test2</td> 
  <td>main@773662650</td>   <td></td> </tr>
<tr bgcolor="b5a082">  <td>19/11/05 17:32:32</td>   <td>15633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.test3([Ljava.lang.String;)[pri:0, instance:com.wipro.testcases.TC02@424e1977]">test3</td> 
  <td>main@773662650</td>   <td></td> </tr>
<tr bgcolor="b5a082">  <td>19/11/05 17:32:37</td>   <td>20966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.test3([Ljava.lang.String;)[pri:0, instance:com.wipro.testcases.TC02@424e1977]">test3</td> 
  <td>main@773662650</td>   <td></td> </tr>
<tr bgcolor="b5a082">  <td>19/11/05 17:32:43</td>   <td>26113</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC02.stop()[pri:0, instance:com.wipro.testcases.TC02@424e1977]">&lt;&lt;stop</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@773662650</td>   <td></td> </tr>
</table>
