<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d661ba">  <td>19/11/05 12:52:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC02.start()[pri:0, instance:com.wipro.testcases.TC02@f5acb9d]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1424082571</td>   <td></td> </tr>
<tr bgcolor="9191d5">  <td>19/11/05 12:52:21</td>   <td>-25</td> <td title="&gt;&gt;TestBase.startApp()[pri:0, instance:com.wipro.testbase.TestBase@543588e6]">&gt;&gt;startApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1424082571</td>   <td></td> </tr>
<tr bgcolor="d661ba">  <td>19/11/05 12:52:38</td>   <td>16724</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC02.stop()[pri:0, instance:com.wipro.testcases.TC02@f5acb9d]">&lt;&lt;stop</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1424082571</td>   <td></td> </tr>
<tr bgcolor="d661ba">  <td>19/11/05 12:52:29</td>   <td>8051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.test1()[pri:0, instance:com.wipro.testcases.TC02@f5acb9d]">test1</td> 
  <td>main@1424082571</td>   <td></td> </tr>
<tr bgcolor="d661ba">  <td>19/11/05 12:52:35</td>   <td>13226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.test2()[pri:0, instance:com.wipro.testcases.TC02@f5acb9d]">test2</td> 
  <td>main@1424082571</td>   <td></td> </tr>
<tr bgcolor="d661ba">  <td>19/11/05 12:52:38</td>   <td>16256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.test3([Ljava.lang.String;)[pri:0, instance:com.wipro.testcases.TC02@f5acb9d]">test3</td> 
  <td>main@1424082571</td>   <td></td> </tr>
<tr bgcolor="d661ba">  <td>19/11/05 12:52:38</td>   <td>16612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.test3([Ljava.lang.String;)[pri:0, instance:com.wipro.testcases.TC02@f5acb9d]">test3</td> 
  <td>main@1424082571</td>   <td></td> </tr>
</table>
